.login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 25em;
    background-color: #1b1d21;
}

.new-signup-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    /* justify-content: center; */
    /* margin-right: 6em; */
    height: 48em;
    /* width: 110%; */
    background-color: white;

    padding: 0 5rem;
    padding-bottom: 2rem;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-input {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 30px;
    padding: 0.5em 0;
}

.login-button {
    background-color: #4a154b;
    border-radius: 1em;
    border: none;
    color: #ffffff;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 8em;
}

.login-button:hover{
    cursor: pointer;
}

.login-labels {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #d1d2d3;
    margin-bottom: .5rem;
}

.text-input-login {
    /* width: 10em;
    height: 2em;
    margin: 0.5em 0; */
    border: 1px solid #b9b9b9;
    border-radius: 5px;
    padding: 8px 0;
    /* box-shadow: 0 0 20px #1f3645; */
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    gap: 1em;
}

.text-input-about-me {
    width: 16em;
    height: 8em;
    margin: 0.5em 0;
    border: 2px solid #214357;
    border-radius: .5em;
    background-color: #1b1d21;
    box-shadow: 0 0 20px #1f3645;
    color: #d1d2d3;
}

#login-title {
    margin-top: 1.2em;
}
