.channel-list-item {
    display: flex;
    width: 100%;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.channel-list-item:hover {
    color: red;
}

.channel-list-item h4 {
    color: red
}

.channel-active {
    background-color: rgb(45 100 158)
}

.channel-list-names {
    color: #afa0b0;
    font-size: 14.5px;
    font-weight: normal;
    margin: 5px;
    /* overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */
}

.channel-list-names:hover {
    color: white
}

.dm-image-container {
    width: 25px;
    height: 25px;
    overflow: hidden;
    border-radius: 10%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 10px;
    background-color: rgb(71 71 71);
}

.group-dm-profile-picture{
    color: rgb(189 189 191);
    margin: 0;
    padding: 0;
    border: 0;
}

#add-channel-sidebar {
    font-size: 13.33px;
}
