.channel-dropdown-container {
  color: rgb(0, 0, 0);
  background-color: rgb(37 37 38);
}

.channel-dropdown-container.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 300ms ease;
}

.channel-dropdown-container.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: 300ms ease;
}

.caret-down {
  border-radius: 2px 2px;
  width: 15px;
}

.channel-heading {
  border-radius: 3px 3px;
  height: 20px;
}

.channel-heading > h2 {
  margin: 0;
}

.caret-down:hover {
  background-color: rgb(205, 202, 202);
}
.channel-heading:hover {
  background-color: rgb(205, 202, 202);
}

.channel-dropdown-heading-container {
  display: flex;
  /* gap: 2px; */
}


.add-channel-button{
  padding: 0;
  border: none;
  background: none;
}
