.channel-dropdown-container {
  color: rgb(0, 0, 0);
  background-color: #3F0F40;
  border-bottom: solid 1px rgba(255, 255, 255, 0.391);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  float: left;
  margin-left: 1rem;
        overflow: hidden;
        text-overflow: clip;
}

.channel-dropdown-container.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 300ms ease;
}

.channel-dropdown-container.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: 300ms ease;
}

.channel-heading-2,
.channel-heading {
  border-radius: 3px 3px;
  height: 20px;
  margin: 5px;
}

.channel-heading>h2 {
  margin: 0;
}

/* .caret-right,
.caret-down {
  border-radius: 2px 2px;
  width: 15px;
  color: #9a9a9d;
}

.caret-down:hover,
.caret-down:hover {
  background-color: rgb(205, 202, 202);
} */

.channel-heading:hover {
  color: white;
  /* width: 4.5em; */
}

.channel-heading-2:hover {
  /* background-color: rgb(205, 202, 202); */
  width: 7em;
}

.channel-dropdown-heading-container {
  display: flex;
  align-items: center;
  margin-top: 1em;
  /* gap: 2px; */
  padding-left: 2rem;
}

.channels-button-modal-sidebar {
  font-size: 16px;
  font-weight: normal;
  margin-left: .5em;
  padding: 0;
  border: none;
  background: none;
  color: rgb(189 189 191);
  font-family: 'Noto Sans', sans-serif;
}

.add-channel-button {
  padding: 0;
  border: none;
  background: none;
}

#fa-dropdown-arrow {
  size: large;
  color: "#c0c3c8";
  margin-top: .1em;
  margin-left: .5em;
  opacity: 0.8;
  color: #9a9a9d;
}

#fa-dropdown-arrow:hover {
  background-color: rgb(205, 202, 202);
}

#add-channel-sidebar:hover {
  color: #EBB22E;
}

.channel-list-item {
  margin-bottom: .5em;
}
