.channel-dropdown {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.channel-dropdown.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 300ms ease;
}

.channel-dropdown.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: 300ms ease;
}
