.channel-dropdown {
  background-color: #1d1c1d;
  color: rgb(255, 255, 255);
}

.channel-dropdown.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 300ms ease;
}

.channel-dropdown.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: 300ms ease;
}
