.message-dashboard-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: white;
}

.only-messages-div {

}

.messages-display {
    overflow: auto;
    margin-top: 6rem;
}

.message {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.message-sender-first-name {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
    font-weight: bold;
    color: black;
}

/* .message-buttons > button {
    background-color: rgba(255, 255, 255, 0);
} */

.message:hover {
    background-color: rgb(214, 215, 216);
}

.message-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image-container {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 10%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 10px;
}

.message-profile-pic {
    width: auto;
    height: 100%;
    object-fit: cover;
    background-color: white;
}

.message-details {
    display: flex;
    flex-direction: column;
}

.message-details>h4 {
    color: black;
    margin: 0;
}

.message-details>p {
    color: black;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
}

.message-buttons>button {
    background-color: rgba(27, 29, 33, 0);
    color: #3F0F40;
    margin: 10px;
    border: 1px solid #3F0F40;
    border-radius: 6px;
    font-family: 'Noto Sans', sans-serif;;
}

.message  button {
    display: none;
}

.message:hover button {
    display: flex;
}

.message-buttons {
    display: flex;
}


.edit-message-modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2rem;
}
