.workspace-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-right: 6em;
    height: 100vh;
    width: 110%;
    background-color: #4A164B;
    font-family: 'Noto Sans', sans-serif;
}

#name-title-text {
    color: white;
}

#name-title-subtext {
    color: white;
}

.channel-name-label,
.title-text {
    color: black
}

.error {
    color: #7e57c2;
}

.text-input-workspace {
    width: 40%;
    height: 4em;
    margin-bottom: 1em;
    border: 2px solid #214357;
    border-radius: 2em;
    box-shadow: 0 0 20px #1f3645;
}

#icon-title-text {
    color: white;
}

#icon-title-subtext {
    color: white;
}

.create-workspace-button {
    background-color: white;
    border-radius: 1em;
    border: none;
    color: #4A164B;
    padding: 2em;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bolder;
}

.create-workspace-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

.form-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
