.workspace-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-right: 6em;
    height: 100vh;
    width: 110%;
    background-color: #1b1d21;
}

.channel-name-label,
.title-text {
    color: black
}

.error {
    color: #7e57c2;
}

.text-input-workspace {
    width: 50em;
    height: 4em;
    margin-bottom: 1em;
    border: 2px solid #214357;
    border-radius: 2em;
    box-shadow: 0 0 20px #1f3645;
}

.create-workspace-button {
    background-color: #4a154b;
    border-radius: 1em;
    border: none;
    color: #ffffff;
    padding: 2em;
}

.create-workspace-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

.form-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
