.profile-dropdown {
  position: relative;
}

.hidden {
  display: none;
}

.channels-button-modal{
  padding: 0;
  border: none;
  background: none;
}

.dashboard-navbar-container{
display: flex;


}
.user-icon-button{
position: absolute;
left: 95%;
color: rgb(95, 93, 93);

}
