.dashboard-navbar-container {
  background-color: #340D36;
  width: 100%;
  height: 10vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-icon {
  color: white;
  margin: 10px;
}

.nav-profile-section {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

#signed-in-nav-logo {
  padding: 0 2rem;
  width: 10rem;
}

.user-icon-button {
  color: white;
  height: 20px;
  width: 20px;
  margin: 10px;
}

.nav-image-container {
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 10%;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 10px;
}

.nav-profile-pic {
  width: auto;
  height: 100%;
  object-fit: cover;
  background-color: white;
}

.profile-dropdown {
  position: relative;
}

.hidden {
  display: none;
}

.channels-button-modal {
  padding: 0;
  border: none;
  background: none;
}

.signed-out-nav-bar {
  background-color: #F6EFE8;
  padding: 1rem;
  padding-bottom: 4rem;
  padding-left: 6vw;
  padding-right: 6vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.banter-nav-logo {
  width: 20vw;
}

.signed-out-nav-bar-buttons {
  display: flex;
}

.signed-out-nav-bar-buttons>button {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #4A164B;
  color: #4A164B;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  margin-right: 1rem;
  border: none;
}


.signed-out-nav-bar-buttons>button:hover {
  color: #EAB12B;
}

.signed-out-nav-bar.workspaces {
  background-color: #4A164B;
}

.signed-out-nav-bar.workspaces button {
  color: white;
}

.signed-out-nav-bar.workspaces button:hover {
  color: #EAB12B;
}
