.page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: rgb(27 29 33);
    color: white;
}

.left-bar {
    margin-top: 8vh;
    background-color: rgb(37 37 38);
    height: 92vh;
    width: 15vw;
    border-right: solid 1px #515151;
    border-top: solid 1px #515151;
}

.right-bar {
    margin-top: 8vh;
    height: 92vh;
    width: 85vw;
}

.dashboard-workspace-name {
    margin-top: .5em;
    margin-left: .5em;
    padding: 0;
    border: none;
    background: none;
    color: white;
    font-size: 25px;
}

#workspace-arrow-down {
    margin-left: 0.6em;
    font-size: 0.6em;
    transform: scale(0.8);
}