.page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: white;
    color: white;
}

.left-bar {
    margin-top: 8vh;
    background-color: #3F0F40;
    height: 100vh;
    width: 20%;
    padding-right: 4rem;
    border-right: solid 1px #515151;
    border-top: solid 1px #515151;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

.right-bar {
    margin-top: 8vh;
    height: 92vh;
    width: 85vw;
}

.dashboard-workspace-name {
    margin-top: .5em;
    margin-left: .5em;
    padding: 0;
    border: none;
    background: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-left: 1.7rem;
    font-family: 'Noto Sans', sans-serif;
    border-bottom: solid 1px #515151;
}

#workspace-arrow-down {
    margin-left: 0.6em;
    font-size: 0.6em;
    transform: scale(0.8);
}

.current-channel-name-bar {
    border-bottom: 1px solid rgb(221, 218, 218);
    top: 0;
    position: absolute;
    top: 3.7rem;
    width: 70%;
    padding: 0 1.5rem;
    background-color: white;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current-channel-name-text {
    margin-left: 2rem;
}
