.workspace-modal-container {
  display: flex;
  flex-direction: column;
  width: 40vw;
  max-width: 480px;
  align-items: center;
}

.workspace-modal-button-container {
  width: 100%;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.explore-channels-button-section.active {
  background-color: #2C649E;
  color: white;
  border-radius: 10px;
}

.workspace-icon-modal {
  width: 4em;
  height: 4em;
  border-radius: 12px;
}

.workspace-modal-name-desc-container {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workspace-upper-section {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  border-top: 1px solid #512653;
  border-bottom: 1px solid #512653;
}


.workspace-modal-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#workspace-modal-button {
  display: flex;
  border: 1px solid #E01D59;
  background: #E01D59;
  justify-content: center;
  padding: .6rem;
  border-radius: 1em;
  color: white;
  font-family: 'Noto Sans', sans-serif;
}

#workspace-modal-button:hover {
  background: #e01d57dd;
}

.sign-out-workspace-button {
  width: 100%;
  background-color: #e01d59;
  border-radius: 1em;
  border: none;
  color: #ffffff;
  width: 10.5rem;
  display: flex;
  justify-content: center;
  padding: .7rem;
  border: 1px solid #E01D59;
  font-family: 'Noto Sans', sans-serif;
}

.sign-out-workspace-button:hover {
  background-color: #e01d57e2;
}

#workspace-name {
  font-size: large;
}

.workspace-modal-title-container {
  margin-left: 2em;
}

.status-button-2 {
  margin-left: 1em;
  font-size: small;
  background-color: white;
  color: black;
  border: none;
}

.status-container {
  margin-right: 1em;
}

.search-input-login {
  /* width: 22em; */
  height: 2em;
  margin: 0.5em 0;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  color: black;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: 'Noto Sans', sans-serif;
}

.explore-channels-button-section {
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 16px;
  color: rgb(173, 155, 155);
  /* border-bottom: 1px solid #512653; */
  width: 70%;
  display: flex;
  gap: 5px;
  align-items: center;
  padding: .5rem
}

.explore-channels-button-section:hover {
  color: white;
  cursor: pointer;
}

#search-icon {
  margin-left: 1em;
}

.search-result-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.name-and-pfp-workspace {
  display: flex;
}

.workspace-and-icon-menu {
  margin-right: .5rem;
  font-weight: 600;
}