.main-homepage-div {
    display: flex;
    margin: 0;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.home-page-main-section-logged-out {
    align-items: flex-start;
    background-color: #F6EFE8;
    margin-top: 2;
    overflow: auto;
    justify-content: space-around;
}

.home-page-main-section-logged-out-left {
    text-align: left;
    margin-right: 0;
    display: flex;
    justify-content: center;
}

.home-page-main-section-logged-out-image {
    width: 100%;
    height: 60vh;
    margin-left: 2rem;
    border-radius: 12px;
}

.home-page-button-div {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
}

.home-page-demo-login {
    background-color: #4A164B;
    color: white;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.home-page-demo-login:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,.15);
    cursor: pointer;
}

.home-page-demo-login + .sign-up-button {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #4A164B;
    color: #4A164B;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1rem;
}

.home-page-demo-login + .sign-up-button:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,.15);
    cursor: pointer;
}

.main-section-logged-in {
    background-color: #4A164B;
    height: 100vh;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-back-title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.waving-hand {
    width: 2.5rem;
    margin-right: 5px;
}

.meet-the-team-home {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.team-member-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,.15);
    padding: 2rem 2rem;
    margin: 0 20px;
    width: 8rem;
    height: 14rem;
    transition: transform 0.3s ease; /* Add transition effect */
    overflow: hidden;
    white-space: nowrap;
}

.meet-the-team-home a {
    text-decoration: none;
    color: #4A164B;
}


  .team-member-card:hover {
    transform: scale(1.1); /* Apply transform on hover */
  }

.team-member-card-image {
    height: 16vh;
    width: 9vw;
    border-radius: 10px;
}


.team-flex-test {
    padding: 10vh;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.home-page-logged-out-left {
    margin-right: 2rem;
}

.carousel-container {
    overflow: hidden;
    margin-bottom: 6rem;
}

.carousel-slides {
    display: flex;
    align-items: center;
    animation: carousel-slide 35s linear infinite both;
    animation-fill-mode: both;
}

.carousel-slide {
    margin-right: 6rem;
}



.carousel-image {
    width: 10vw;
}

.carousel-image >div:last-child{
    margin-right: 0;
}

.technologies-utilized-text {
    text-align: center;
    margin-bottom: 3rem;
}

.carousel-slide:last-child {
    margin-right: -100%; /* or margin-bottom: -100%, depending on the direction */
}

/* .carousel-slide:nth-child(1) {
    animation: carouselAnimation 5s infinite;
}

.carousel-slide:nth-child(2) {
    animation: carouselAnimation 5s infinite;
    animation-delay: 1s;
}

.carousel-slide:nth-child(3) {
    animation: carouselAnimation 5s infinite;
    animation-delay: 1s;
} */

  @keyframes carousel-slide {
    0% {
      transform: translateX(-150%);
    }
    100% {
      transform: translateX(100%);
    }
  }
