.workspace-list-area {
    background-color: white;
    color: #4A164B;
    border-radius: 12px;
    text-align: center;
    /* padding: 0 10px; */
    width: 80vw;
    max-width: 1050px;
    border: 4px solid #6F456F;
}

.workspaces-index-header {
    background-color: rgb(236, 221, 236);
        margin: 0;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        padding: 1rem 0;
}

.workspace-card:hover {
    color: #EBB22E;
    cursor: pointer;
}

.workspace-card{
    display: flex;

}

.workspace-card-image{
    padding: 0 10px;
    margin-top: 20px;
    text-align: center;
    height: 30px;
    width: 30px;
} 
