.profile-page-container {
  color: white;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color:white;
  font-family: 'Noto Sans', sans-serif;
}

.profile-picture-container {
  margin-left: 5em;
}

.profile-edit-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:center;
  gap: 10px;
}

.profile-edit-container input {
  width: 100%;
}

.edit-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 50%;
  border-bottom: solid 1px;
  margin-bottom: .5em;
  padding: 2em;
}


.profile-page-picture {
  height: 100px;
  width: 100px;
}

/* EDIT BUTTONS YO  */
/* --------------------------------------------------- */
.edit-profile-picture {
  color: rgb(101, 103, 211, 0.6);
}

.edit-profile-buttons {
  color: rgb(101, 103, 211, 0.6);
  margin-left: 2em;
}

.edit-profile-picture:hover,
.edit-profile-buttons:hover {
  background-color: rgb(205, 202, 202);
  cursor: pointer;
}

.edit-profile-button-containers {
  margin-left: 5em;
}

.delete-user-account-button{
  background-color: #e01d59;
  border-radius: 1em;
  border: none;
  color: #ffffff;
  padding: 1em;
}

.no-delete-button {
  background-color: #e01d59;
  border-radius: 1em;
  border: none;
  color: #ffffff;
  padding: 1em;
  margin-top: 2em;
}

.profile-picture-label {
  margin-left: 4em;
}

.profile-edit-submit-button {
  background-color: #2aac76;
  border-radius: 1em;
  border: none;
  color: #ffffff;
  padding: 1em;
}

.profile-edit-submit-button:hover {
  color: #EBB22E;
  cursor: pointer;
}

#password {
  margin-left: 4em;
}

#your-profile {
  margin-left: 1em;
}


.delete-user-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
