.profile-page-container {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  margin-left: 36em;
  width: 20em;
}

.profile-edit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.edit-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 50%;
  border-bottom: solid 1px;
  margin-bottom: .5em;
  padding: .5em;
}


.profile-page-picture {
  height: 100px;
  width: 100px;
}

/* EDIT BUTTONS YO  */
/* --------------------------------------------------- */
.edit-profile-picture {
  color: rgb(101, 103, 211, 0.6);
}

.edit-profile-buttons {
  color: rgb(101, 103, 211, 0.6);
  margin-left: 2em;
}

.edit-profile-button-containers {
  margin-left: 5em;
}

.delete-user-account-button{
  background-color: #e01d59;
  border-radius: 1em;
  border: none;
  color: #ffffff;
  padding: 1em;
  margin-left: 8em;
  margin-top: 2em;
}

.profile-picture-label {
  margin-left: 4em;
}

.profile-edit-submit-button {
  background-color: #2aac76;
  border-radius: 1em;
  border: none;
  color: #ffffff;
  padding: 1em;
  margin-top: 2em;
}

#password {
  margin-left: 4em;
}

