.channel-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #4a154b;
    font-family: 'Noto Sans', sans-serif;

}

#channel-create-header-main {
    color: white;
}

#banter-quote {
    color: white;
}

#channel-label-item-text {
display: flex;
flex-direction: column;
align-items: center;
}

.channel-create-container {
    margin-bottom: 12em;
}

.text-input-channel {
    width: 8em;
    height: 2em;
    margin-bottom: 1em;
    border: 2px solid #214357;
    border-radius: 2em;
    box-shadow: 0 0 20px #1f3645;
}

.create-channel-button {
    background-color: white;
    color: #4a154b;;
    border-radius: 1em;
    border: none;
    padding: 1em;
    margin-left: 4.5em;
    font-family: 'Noto Sans', sans-serif;
}

.create-channel-button:hover {
    cursor: pointer;
}

#banter-quote {
    margin-left: 3em;
}
